<?xml version="1.0"?>
<launch>
 <!--node pkg="ros_102" type="subscriber.py" name="subscriber" output="screen"/-->
 <!--node pkg="ros_102" type="publisher.py" name="publisher"/-->
 <!--node pkg="ros_102" type="vel_py_sub.py" name="subscriber_vel" output="screen" /-->
 <!--node pkg="ros_102" type="vel_py_pub.py" name="publisher_vel"/-->
 <node pkg="ros_102" type="subscriber_ultrasonic_pub_vel.py" name="subscriber_ultrasonic_pub_vel" output="screen"/>
 <node pkg="ros_102" type="publisher_ultrasonic.py" name="publisher_ultrasonic"/>
 <node pkg="ros_102" type="subscriber_vel.py" name="subscriber_vel" output="screen"/>
</launch>




